.container {
  position: relative;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .top-title {
  color: black;
  font-size: 25px;
  font-family: "Pretendard", sans-serif;
  font-weight: 700;
  margin-bottom: 12px;
  margin-top: 60px;
} */
.topbarcontainer {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.logocontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  margin: 10px 50px 10px ;

}
.search-layout {
  display: flex;
  align-items: center;
  gap: 15px;
  margin : 10px   10px 10px;
  max-width: 748px;
}
.search-bar {
  width: 100%;
  height: 48px;
  padding: 8px 16px;
  left: 537px;
  top: 0;
  background: rgba(244.37, 244.37, 244.37, 1);
  border-radius: 40px;
  display: flex;
}
input {
  color: black;
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  font-size: 17px;
  width: 100%;
  background: rgba(244.37, 244.37, 244.37, 1);
}
input::placeholder {
  color: rgba(0, 0, 0, 0.37);
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  font-size: 17px;
}
.festival-detail-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.festival-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.festival-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  max-width: 900px;
  min-width: 250px;
  color: #000;
  font-family: "Pretendard";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 136.364% */
  letter-spacing: -0.24px;
  margin-bottom: 30px;
}
.festival-title {
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.24px;
}
.festival-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 900px;
  min-width: 250px;
}
.button-main {
  /* width: 80%; */
  /* max-width: 617px; */
  width: 417px;
  height: 70px;
  border-radius: 12px;
  opacity: var(--sds-size-stroke-border);
  background: rgba(255, 113, 52, 0.82);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin : 10px 10px 10px 10px;
}
.bookmark-text {
  color: #f4f4f4;
  text-align: center;
  font-family: "Pretendard";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.24px;
  margin-right: 8px;
}
.button-goto-homepage {
  width: 417px;
  height: 70px;
  border-radius: 12px;
  opacity: var(--sds-size-stroke-border);
  background: rgba(255, 113, 52, 0.82);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #f4f4f4;
  text-align: center;
  font-family: "Pretendard";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.24px;
  margin : 10px 10px 10px 10px;
}
/* 
.logo-container {
  width: 339px;
  height: 101px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 65px;
}

.logo-year {
  display: flex;
  align-items: center;
  transform: rotate(-2.27deg);
  margin-top: 5px;
}
.year-background {
  background: #ff4034;
  border-radius: 13px;
  width: 56.74px;
  height: 20.7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.year-text {
  color: rgba(252.08, 255, 108.8, 0.91);
  font-size: 13px;
  font-family: "CookieRunOTF", sans-serif;
  font-weight: 700;
}
.logo-text {
  text-align: center;
  color: #ff4034;
  font-size: 52px;
  font-family: "CookieRun", sans-serif;
  font-weight: 700;
} */
