.bookmarks-layoutbox{
  display: flex;
  flex-direction: column;
  position: relative;
}
.layoutbox {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.festival-header {
  width:100%; 
  top: 0; 
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom : 0.5px solid #e5e7eb;
  background-color: #ffffff;
  flex-direction: row;
}

.festival-top-title {
  color: black;
  font-size: 22px;
  font-family: 'Pretendard', sans-serif;
  font-weight: 700;
  margin-bottom: 12px; 
  margin-top: 43px;
}

.festival-logo-container {
  display: flex;
  flex-direction: column; 
}

.festival-logo-text {
  text-align: center;
  color: #FF4034;
  font-size: 20px;
  font-family: 'CookieRun', sans-serif;
  font-weight: 700;
}

.festival-logo-year {
  display: flex;
  align-items: center; 
  justify-content: center;
  transform: rotate(-2.27deg);
  margin-top: 3px; 
}

.festival-year-background {
  background: #FF4034;
  border-radius: 12px;
  width: 42.74px; 
  height: 14.70px;
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.festival-year-text {
  color: rgba(252.08, 255, 108.80, 0.91);
  font-size: 10px;
  font-family: 'CookieRunOTF', sans-serif;
  font-weight: 700;
}
.gomain{
  display: flex;
  align-items: center;
  font-family: 'Pretendard',sans-serif;
  color: #696767;
  font-size: 12px;
}

.bookmarks-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 15px;
}


.bookmarks-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

}
.single-bookmark {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  width: 100%;
  max-width: 285px;
  margin: 0 auto;
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
}
.image-container {
  position: relative;
  width: 100%;
  padding-top: 60%; /* 높이 줄이기 */
}

.bookmark-description {
  padding: 15px;
}
.bookmark-info {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bookmark-title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
.button-itself {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.delete-button {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}
.no-bookmarks {
  font-family: 'Pretendard', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #555; /* 텍스트 색상 */
  margin-top:170%
}
.no-bookmarks img {
  margin-bottom: 10px;
}